<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
	{{- partial "head.html" . -}}
	<body class="single-post blog">
		<div id="blog-post">
			<a id="top" class="skip-link screen-reader-text" href="#primary">skip to content</a>
			{{- partial "header.html" . -}}
			<div id="content" class="site-content">
				<div id="primary" class="content-area">
					<main id="main" class="site-main">
						{{- block "post-main" . }}{{- end }}
					</main>
				</div>
				<div id="secondary" class="related-content">
					{{- partial "funcs/tags.html" . -}}
					{{- partial "funcs/categories.html" . -}}
				</div>
			</div>
			{{- partial "footer.html" . -}}
		</div>
	</body>
</html>
