<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
	{{- partial "head.html" . -}}
	<body class="article is-preload">
		<a id="top" class="skip-link screen-reader-text" href="#primary">skip to content</a>
		<div id="wrapper">
			{{- partial "header.html" . -}}

			<section id="banner" class="major">
				<div class="inner">
					<header class="major">
						<h1>{{ .Title }}</h1>
					</header>
					<div class="content">
						<p>{{ .Params.excerpt }}</p>
					</div>
				</div>
			</section>

			<div id="main">
				<section id="one">
					<div class="inner">
						{{- partial "breadcrumbs.html" . -}}
						{{- partial "prev-next.html" . -}}
					</div>
				</section>
				<section id="two">
					{{- block "article-main" . }}{{- end }}
				</section>
				<section id="three">
					<div class="inner">articoli correlati</div>
				</section>
			</div>
			{{- partial "footer.html" . -}}
		</div>
		{{- partial "footer-addition.html" . -}}
	</body>
</html>
