	<meta name="theme-color" content="#ffeb3b">
	<meta name="msapplication-navbutton-color" content="#ffeb3b">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

{{ range $i := .Site.Params.faviconSizes }} 
	{{ $favicon := resources.Get "img/icon.png" }} 
	{{ $image := $favicon.Resize (printf "%dx%d CatmullRom" $i $i) }}
	<link rel="icon" type="image/png" sizes="{{$i}}x{{$i}}" href="{{ $image.Permalink }}" />
{{ end }} 
{{ with resources.Get "img/icon.png" }} 
	{{ $image := .Resize "180x CatmullRom" }}
	<link rel="apple-touch-icon" sizes="180x180" href="{{ $image.Permalink }}" />
{{ end }}
