{{ with .Site.Social }}
<div class="col-4 col-12-medium align-right">
	<ul class="footer-socials">
		<li class="social-link social-spotify">
			{{$spotify := "spotify"}}
			<a href="https://spotify.com/{{ .spotify }}" target="_blank">{{ partial "funcs/svg.html" (dict "context" . "username" $spotify) }}</a>
		</li>
		<li class="social-link social-twitter">
			{{$twitter := "twitter"}}
			<a href="https://twitter.com/{{ .twitter }}" target="_blank">{{ partial "funcs/svg.html" (dict "context" . "username" $twitter) }}</a>
		</li>
		<li class="social-link social-instagram">
			{{$instagram := "instagram"}}
			<a href="https://instagram.com/{{ .instagram }}" target="_blank">{{ partial "funcs/svg.html" (dict "context" . "username" $instagram) }}</a>
		</li>
		<li class="social-link social-github">
			{{$github := "github"}}
			<a href="https://github.com/{{ .github }}" target="_blank">{{ partial "funcs/svg.html" (dict "context" . "username" $github) }}</a>
		</li>
	</ul>
</div>
{{ end }}
