{{ define "curriculum-main" }}
<article>
	<div class="inner">
		{{ .Content }}
	</div>
</article>
{{ end }}

{{ define "curriculum-footer" }}
<article>
	<div class="inner">
		<p class="align-center smaller">Su richiesta posso fornire lettere di referenze dai miei precedenti datori di lavoro.</p>
		<p class="align-center smaller">I dati personali acquisiti mediante questo Curriculum Vitae devono essere trattati nel rispetto delle norme del'art. 13 del D. Lgs. 196/2003 in materia di trattamento dei dati personali.</p>
		<footer id="shareme">{{- partial "funcs/share-on-socials.html" . -}}</footer>
	</div>
</article>
{{ end }}
