<!-- here will appear eventual js code and other additions to the footer -->
<div id="backtotop" class="hidden">
	{{$name := "arrow-up"}}
	<a class="scrolly" href="#main">{{ partial "funcs/svg.html" (dict "context" . "username" $name) }}<span class="screen-reader-text">back to top</span></a>
</div>
<!-- Scripts -->

<script type="text/javascript" src="{{ "js/jquery.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/jquery.scrolly.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/jquery.scrollex.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/browser.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/breakpoints.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/util.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/main.js" | absURL }}"></script>

{{ if .HasShortcode "contact" -}}
{{ $contact := resources.Get "js/contact.js" | minify | fingerprint -}}
<script defer src="{{ $contact.RelPermalink }}"></script>
{{ end -}}

{{ $flexsearch := resources.Get "js/flexsearch.compact.js" | fingerprint -}}
<script defer src="{{ $flexsearch.RelPermalink }}"></script>
{{ $search_opts := dict "minify" true "params" (dict "searchLimit" (site.Params.searchLimit | default 20)) -}}
{{ $search := resources.Get "js/search.js" | js.Build $search_opts | fingerprint -}}
<script defer src="{{ $search.RelPermalink }}"></script>
