<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
	{{- partial "head.html" . -}}
	<body class="blog is-preload">
		<a id="top" class="skip-link screen-reader-text" href="#primary">skip to content</a>
		<div id="wrapper" class="section-blog">
			{{- partial "header.html" . -}}

			<section id="banner" class="major">
				<div class="inner">
					<header class="major">
						<h1>{{ .Site.Title }}</h1>
					</header>
					<div class="content">
						<p>{{ .Site.Params.Description }}</p>
					</div>
				</div>
			</section>

			<div id="main">
				{{- block "blog-list" . }}{{- end }}
			</div>
			{{- partial "footer.html" . -}}
		</div>
		{{- partial "footer-addition.html" . -}}
	</body>
</html>

