{{ define "blog-list" }}
<section id="one">
	<article>
		<div class="inner">
			{{ .Content }}
		</div>
	</article>
	<article>
		<div class="inner">
			{{ partial "pagination.html" . }}
		</div>
	</article>
</section>
<section id="two" class="spotlights">
	<!-- Ranges through content/articles/*.md -->
	{{ range .Paginator.Pages }}
	<section>
		<a class="image" href="{{.Permalink}}">
		{{ if isset .Params "featured_image" }}
			<img src="{{ .Params.featured_image | absURL}}" alt="{{.Title}}">
		{{ else }}
			{{ $default_image := resources.Get "img/default_article.jpg" }} 
			<img src="{{ $default_image.Permalink }}" alt="{{.Title}}">
		{{ end }}
		</a>
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>
					{{ if gt (len .Title) 40 }}
						{{ $first50 := ( substr .Title 0 40 ) }}
						{{ $lastChars := ( substr .Title 40 ) }}
						{{ $newLine := "<br>" }}
						{{ $newTitle := ( printf "%s" $lastChars | printf "%s%s" $newLine | printf "%s%s" $first50  ) }}
						{{ $newTitle | safeHTML }}
					{{ else }}
						{{ .Title }}
					{{ end }}
					</h3>
				</header>
				<p>{{ .Params.excerpt }}</p>
				<ul class="actions">
					<li><a href="{{.Permalink}}" class="button">Read More</a></li>
				</ul>
			</div>
		</div>
	</section>
	{{ end }}
</section>
<section id="three">
	<div class="inner">
		{{ partial "pagination.html" . }}
	</div>
</section>
{{ end }}
