<section id="contact">
  <div class="inner">
    <section>

      <p class="error message js-hidden">Javascript is required for this form to work</p>
      <p class="contact-submitted status message hidden">Your message has been sent correctly. I'll get back at you as soon as possible</p>
      <p class="contact-error error message hidden">There's been a problem with your message, I'll dispatch the wizard to investigate the issue.</p>

      <form class="contact-form hidden" data-protect="/php/contact.php" action="#" method="post" accept-charset="UTF-8">
        <div class="fields">
          <div class="field half">
            <label for="edit-name">Name:</label>
            <input type="text" id="edit-name" name="name" placeholder="Insert your name" required autofocus>
          </div>
          <div class="field half">
            <label for="edit-mail">Email:</label>
            <input type="email" id="edit-mail" name="email" placeholder="your email address" required>
          </div>
          <div class="field">
            <label for="edit-subject">What are we talking about?</label>
            <input type="text" id="edit-subject" name="subject" placeholder="add a subject" required>
          </div>
          <div class="field">
            <label for="edit-message">Tell me everything :)</label>
            <textarea id="edit-message" name="message" rows="5" placeholder="Insert your message here" required></textarea>
          </div>
        </div>
        <input type="text" id="edit-url" class="hidden" name="url" placeholder="your website">
        <ul class="actions">
          <li><input type="submit" name="submit" class="form-submit primary" disabled value="Send Message" /></li>
          <li><input type="reset" name="reset" class="form-reset" disabled value="clear" /></li>
        </ul>
        
      </form>
    </section>

    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-envelope"></span>
          <h3>Reach out to me</h3>
          <p>I'm here to help, if you need to talk to me feel free to reach out and tell me whatever you need help with, I'll be happy to find some time to discuss the matter with you!</p>
          <img class="signature image right" src="/uploads/2018/05/new-signature.png" alt="signed by danix">
        </div>
      </section>
    </section>
  </div>
</section>



